.row {
  display: flex;
  flex-wrap: wrap;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  flex: 1;
  min-width: 40%;
  max-width: 45%;
  margin: 20px;
}

.max_width {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.left_column {
  flex: 0 0 120px;  /* grow */
  margin: 10px 20px 20px 10px;
}

.right_column {
  flex: 1;  /* grow */
  min-width: calc(100% - 180px);
  margin: 10px 10px 20px 20px;
  padding: 8px;
}

@media (max-width: 900px) {
    .column {
      flex: none;
      width: 100%;
      min-width: none;
      max-width: none;
      margin: 20px 0px;
    }
}
