.row {
  display: flex;
  flex-flow: row wrap;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.left_column {
  flex: 1;  /* grow */
}

.right_column {
  flex: 0 0 256px; /* fixed */
}

.text {
  float: left;
  width: 100%;
}

.buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.picture {
  width: 250px;
  margin: auto;
}

@media (max-width: 900px) {
    .left_column {
      flex: none;
      width: 100%;
    }

    .right_column {
      flex: none;
      width: 100%;
    }
}

@media (max-width: 620px) {
  .buttons {
    width: 100%;
  }
}
