.container {
  display: flex;
  height: auto;
}

.left {
  flex-grow: 1;
  float: left;
}

.right {
  width: auto;
  float: left;
  margin-left: 5%;
}

.header {
  font-family: "Playfair Display SC", "Courier New";
  font-size: 5em;
  text-align: center;
  display: block;
  margin: 0;
}

.fixHeight {
  height: 40px;
}
