.row {
  display: flex;
  flex-flow: row wrap;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.left_column {
  flex: 1;  /* grow */
}

.right_column {
  flex: 0 0 256px; /* fixed */
}

.text {
  float: left;
  width: 96%;
  padding: 2%;
}

.buttons {
  width: 470px;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  padding: 0 10%; /*Kinda hacky*/
}

.picture {
  width: 200px;
  margin: auto;
  padding: 2%;
}

@media (max-width: 900px) {
    .left_column {
      flex: none;
      width: 100%;
    }

    .right_column {
      flex: none;
      width: 100%;
    }
}

@media (max-width: 620px) {
  .buttons {
    width: 100%;
  }
}
