.main {
  margin: 20px auto;
  padding: 20px 20px 100px 20px;
  width: 80%;
  height: auto;
  opacity: 95%;
}

.container {
  display: flex;
  height: auto;
}

.left {
  width: auto;
  float: left;
  margin-right: 10%;
  background: "blue";
}

.right {
  flex-grow: 1;
  background: "red";
}
