.main {
  margin: 20px auto;
  padding: 0px 0px;
  width: 95%;
  height: auto;
}

@media (max-width: 900px) {
  .main {
    margin: 0px 0px;
    padding: 0px 0px;
    width: auto;
    height: auto;
    opacity: 100%;
  }
}
